tqdm
gradio
numpy
torch
torchvision
git+https://github.com/openai/CLIP.git
git+https://github.com/OFA-Sys/Chinese-CLIP.git
paddlepaddle-gpu -i https://pypi.tuna.tsinghua.edu.cn/simple
paddlepaddle -i https://pypi.tuna.tsinghua.edu.cn/simple
python-Levenshtein